.link-directory {
  padding: 10px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  box-shadow: 1px 0 1px rgba(0, 0, 0, 0.35);
  a {
    margin: 0 5px;
    padding: 6px 10px;
    font-size: 15px;
    color: $bold-color;
    border-radius: 15px;
    border: 1px solid #e1e1e1;
    background-color: #fafafa;
    box-shadow: 0 0 9px -1px rgba(0, 0, 0, 0.15);
  }
}
