div.opini-scrolling {
  padding: 0 15px;
  margin-bottom: 15px;
  div.opini-item {
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 0 10px -1px rgba(0,0,0,.15);
    border-radius: 3px;
    .slot-wrapper {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      span.slot {
        figure {
          width: 70px;
          margin-bottom: 0;
          margin-right: 10px;
          background-color: #ddd;
          border-radius: 50%;
        }
        &:nth-child(2) {
          a {
            display: block;
            &:nth-child(1) {
              margin-bottom: 5px;
            }
            &:nth-child(2) {
              color: #727272;
            }
          }
        }
      }
    }
  }
  .slick-slide {
    margin: 0 7.5px;
  }
  .slick-list {
    margin: 0 -7.5px;
  }
  .slick-dots {
    position: absolute;
    left: 0;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    li {
      position: relative;
      display: inline-block;
      width: 20px;
      height: 20px;
      padding: 0;
      cursor: pointer;
      button {
        padding: 0;
        font-size: 0;
        line-height: 0;
        display: block;
        width: 20px;
        height: 20px;
        cursor: pointer;
        color: transparent;
        border: 0;
        outline: none;
        background: transparent;
        &:before {
          font-family: 'Open Sans';
          font-size: 20px;
          line-height: 20px;
          position: absolute;
          top: 0;
          left: 0;
          width: 20px;
          height: 20px;
          content: '•';
          text-align: center;
          opacity: .2;
          color: $bold-color;
          -webkit-font-smoothing: antialiased;
        }
      }
      &.slick-active {
        button:before {
          opacity: .35;
          color: $bold-color;
        }
      }
    }
  }
}