/* Color Variabel */
$base-color: #082556;
$base-color-2: #86a6b2;
$base-color-3: #779195;
$blue-color: #00aeef;
$bold-color: #111111;
$medium-color: #333333;
$text-color: #444444;
$text-light: #aeaeae;
$bg-footer: #ced3cc;
$cat-link: #c4a333;

$fb: #3b5999;
$tw: #55acee;
$insta: #e4405f;
$gp: #dd4b39;
$lnk: #0077B5;
$lne: #00c300;
$md: #02b875;
$yt: #cd201f;

// Set Offset Buat Perulangan
$offset: 20;

// position
$position: top right bottom left;

// Button set
$buttons: 
  ('btn-red', #e04640, #ffffff),
  ('btn-blue', #00aeef, #ffffff),
  ('btn-orange', #f4aa20, #ffffff),
  ('btn-green', #49bd3a, #ffffff),
  ('btn-abu', #f2f2f2, #444444),
  ('btn-abu-gelap', #aaaaaa, #ffffff);
