@for $i from 1 through $offset {
  .margin-#{5 * $i} {
    margin: 5px * $i !important;
  }
  @each $value in $position {
    .margin-#{$value}-#{5 * $i} {
      margin-#{$value}: 5px * $i !important;
    }
  }
}

.no-margin {
  margin: 0 !important;
}

@each $value in $position {
  .no-margin-#{$value} {
    margin-#{$value}: 0 !important;
  }
  .no-padding-#{$value} {
    padding-#{$value}: 0 !important;
  }
}

.no-padding {
  padding: 0 !important;
}

@for $i from 1 through $offset {
  .padding-#{5 * $i} {
    padding: 5px * $i !important;
  }
  @each $value in $position {
    .padding-#{$value}-#{5 * $i} {
      padding-#{$value}: 5px * $i !important;
    }
  }
}
